<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <form
        [formGroup]="noteForm"
        (ngSubmit)="saveNote()"
        class="container my-5"
      >
        <h3>New Note</h3>

        <div class="field">
          <label for="title" class="label">Title</label>
          <div class="control">
            <input
              type="text"
              class="input is-primary"
              name="title"
              id="title"
              placeholder="Enter a title..."
              formControlName="title"
            />
          </div>
          <small
            *ngIf="
              noteForm.get('title')?.invalid && noteForm.get('title')?.dirty
            "
            class="help is-danger"
          >
            Enter a title!
          </small>
        </div>

        <div class="field">
          <label for="body" class="label">Body</label>
          <div class="control">
            <textarea
              type="text"
              class="textarea is-primary"
              name="body"
              id="body"
              placeholder="Write something..."
              formControlName="body"
            ></textarea>
          </div>
          <small
            *ngIf="noteForm.get('body')?.invalid && noteForm.get('body')?.dirty"
            class="help is-danger"
          >
            Enter a description!
          </small>
        </div>

        <div class="field">
          <label for="inputStatus" class="label">Mark as: </label>
          <div class="control">
            <div class="select is-primary is-fullwidth">
              <select
                id="inputStatus"
                name="status"
                formControlName="status"
                placeholder="select one"
              >
                <option value="normal">Normal</option>
                <option value="important">Important</option>
                <option value="archive">Archive</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field has-text-centered my-5">
          <button class="button mr-5" (click)="goBack()">
            <span class="icon is-normal">
              <i class="fas fa-arrow-left"></i>
            </span>
          </button>
          <button
            type="submit"
            [disabled]="noteForm.invalid"
            class="button is-primary mr-5"
          >
            {{ updateNoteId ? "Update" : "Add note" }}
          </button>
          <button
            *ngIf="updateNoteId"
            class="button mr-5"
            id="deleteButton"
            (click)="onDelete(updateNoteId)"
          >
            <span class="icon is-normal">
              <i class="fas fa-trash"></i>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
