<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <span class="icon">
        <i class="fas fa-note-sticky"></i>
      </span>
      <strong>Notes-App</strong> by Bernadett Marsalik
    </p>

    <a
      class="icon is-large has-text-dark"
      href="https://github.com/bernadettmarsalik/"
      target="_blank"
    >
      <i class="fa-brands fa-github fa-2x"></i>
    </a>
    <a
      class="icon is-large has-text-dark"
      href="https://linkedin.com/in/bernadett-marsalik-511506287/"
      target="_blank"
    >
      <i class="fa-brands fa-linkedin fa-2x"></i>
    </a>
  </div>
</footer>
