<footer class="footer has has-text-centered has-background-grey-lighter">
  <div class="content has-text-dark">
    <div class="container">
      <span class="icon">
        <i class="fas fa-note-sticky"></i>
      </span>
      <strong>NotesApp </strong> by Bernadett Marsalik

      <span>
        <a
          class="icon is-large has-text-dark"
          href="https://github.com/bernadettmarsalik/"
          target="_blank"
        >
          <i class="fa-brands fa-github fa-2x"></i>
        </a>
        <a
          class="icon is-large has-text-dark"
          href="https://linkedin.com/in/bernadett-marsalik-511506287/"
          target="_blank"
        >
          <i class="fa-brands fa-linkedin fa-2x"></i> </a
      ></span>
    </div>
  </div>
</footer>
