<!-- help -->
<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Help</span>
      <span class="icon is-small">
        <i class="fas fa-circle-info" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
        <p>Notes by color:</p>
        <div class="is-flex is-flex-direction-column">
          <span class="tag is-primary">Normal</span>
          <span class="tag is-danger">Important</span>
          <span class="tag is-dark">Archive</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- search bar -->
<div class="container my-6">
  <div class="columns is-centered">
    <div class="field column is-half">
      <p class="control has-icons-left">
        <input
          class="input is-primary"
          type="text"
          (keyup)="filter($any($event.target).value)"
          placeholder="Search notes"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="container my-6">
    <!-- Notes list -->
    <div class="columns is-centered">
      <div class="column is-half">
        <div
          *ngIf="!(filteredNotes && filteredNotes.length)"
          class="has-text-primary is-size-4 has-text-centered"
        >
          No notes yet. Add one.
        </div>
        <app-notes-card
          *ngFor="let note of filteredNotes$ | async"
          [note]="note"
        ></app-notes-card>
      </div>
    </div>
  </div>
</div>

<!-- Add note button -->
<div
  class="sticky-button-container is-flex is-align-items-baseline"
  [ngClass]="
    filteredNotes.length === 0
      ? 'is-justify-content-center'
      : 'is-justify-content-right customMargin'
  "
>
  <button class="button is-primary is-large is-rounded" routerLink="new">
    + Add
  </button>
</div>
