.sticky-container {
  position: relative;
}

.sticky-button-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 50%;
  right: 20%;
  z-index: 1000;

  button {
    box-shadow: 10px 10px 15px -2px rgba(0, 0, 0, 0.227);
  }
}

.search-bar {
  margin-bottom: 20px;
}
