<!-- search bar -->
<div class="container my-6">
  <div class="columns is-centered">
    <div class="field column is-half">
      <p class="control has-icons-left">
        <input
          class="input is-primary"
          type="text"
          (keyup)="filter($any($event.target).value)"
          placeholder="Search notes"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="container my-6">
    <!-- Notes list -->
    <div class="columns is-centered">
      <div class="column is-half">
        <app-notes-card
          *ngFor="let note of filteredNotes$ | async"
          [note]="note"
        ></app-notes-card>
      </div>
    </div>
  </div>
</div>

<!-- Add note button -->
<div class="sticky-container">
  <div class="sticky-button-container">
    <button class="button is-primary is-large is-rounded" routerLink="new">
      + Add
    </button>
  </div>
</div>
<!-- (keyup)="filter($any($event.target).value)" -->
