<div class="container" id="cards-container">
  <article
    [ngClass]="{
      message: true,
      'is-primary': note?.status === 'normal',
      'is-danger': note?.status === 'important',
      'is-dark': note?.status === 'archive'
    }"
    class="message is-medium"
    id="cards"
  >
    <div class="message-header">
      <p>{{ note?.title }}</p>
      <button
        class="delete is-large"
        aria-label="delete"
        (click)="onDelete(note?.id)"
      ></button>
    </div>
    <div class="message-body">
      {{ showAll ? note?.body : (note?.body | truncate : 80) }}
    </div>
    <div class="container has-text-centered mt-5">
      <span class="read-more icon" (click)="triggerReadMore()">
        <i class="fas fa-angle-down" *ngIf="!showAll"></i>
        <i class="fas fa-angle-up" *ngIf="showAll"></i>
      </span>
    </div>
    <div class="container has-text-right">
      <button
        class="button is-outlined mb-4 mr-4 is-normal"
        [ngClass]="{
          'is-primary': note?.status === 'normal',
          'is-danger': note?.status === 'important',
          'is-dark': note?.status === 'archive'
        }"
        (click)="onEdit(note?.id)"
      >
        <span class="icon is-small">
          <i class="fa-solid fa-pen-to-square"></i>
        </span>
        <span>Edit</span>
      </button>
    </div>
  </article>
</div>
